body{
  margin: 0;
}

.contact-us{
  background-image: url('https://cdn.pixabay.com/photo/2018/01/31/06/56/map-3120436_960_720.jpg');
  height: 550px;
  width: 620px;
}

.address{

  position: absolute;
  bottom: 100px;
  right: 200px;
  font-size: 20px;
}


.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#fe7171), to(#65a9d7));
   background: -webkit-linear-gradient(top, #fe7171, #65a9d7);
   background: -moz-linear-gradient(top, #fe7171, #65a9d7);
   background: -ms-linear-gradient(top, #fe7171, #65a9d7);
   background: -o-linear-gradient(top, #fe7171, #65a9d7);
   padding: 13px 26px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 15px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.home-button{
  position: absolute;
  top: 95%;
  left: 50%;
}
